a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 1.75em;

  @media (min-width: 640px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
  margin-bottom: 6px;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 4px;
}

// ol, ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
